

Edit Recipe

<div>
<input placeholder="recipe id" ng-model="searchid">
<button ng-click="findRecipe()">Find Recipe</button>

</div>


<div>
{{recipe}}
<p><input placeholder="recipe author" ng-model="recipe.author"></p>
<button ng-click="updateRecipe(recipe._id, recipe)">Update Recipe</button>
</div>


<!-- <div ng-repeat="collection in collections">

<input ng-model="id" placeholder="recipeid">
<button ng-click="addToRecipes(collection, id)">Add</button>
{{collection._id}}  is {{collection.collectionName}} from {{collection.collectionCreator}}

<p>Recipes: {{collection.recipes}}<p>
<p>Index: {{$index}}</p>
<button ng-click="saveCollection(collection)">Save Change to Collection</button>
<button ng-click="deleteCollection(collection._id)">WARNING DELETING COLLECTION</button>
</div> -->

Users
<table ng-repeat="user in users">
	<tr>
		<td> {{user.userName}} </td>

		<td> {{user.accountCreated}} </td>

		<td> {{user._id}} </td>
	</tr>
	
</table>



Edit User
<input placeholder="user id" ng-model="userId">
<button ng-click="findUser(userId)">Find User</button>

<div>
	<ul>
		<li><input ng-model="editUser.userName"></li>
		<li><input ng-model="editUser.accountCreated"></li>
		<li>{{editUser.accountCreated | date: "longDate"}}</li>
		<li><input placeholder="Add an email address" ng-model="editUser.email"></li>

	</ul>

<button ng-click="updateUser()">Update User</button>
</div>
