<div class="viewer container collection">

	<div class="row collection-view">

		<div class="col-md-6">
			<h2>{{collection.collectionName}}</h2>

			
			<button class="button-on-white" ng-show="checkPermissions()" ng-click="updateCollection()">Save Changes</button>

			<button class="button-on-white" ng-click="verifyDelete()" ng-show="checkPermissions()">Delete Collection</button>

			<div ng-show="verify">
				<p>Are you sure you want to delete this collection?</p>
				<button class="button-on-white" ng-click="verifyDelete()">No</button>
				<button class="button-on-white" ng-click="deleteCollection()">Yes</button>
			</div>
			
		</div>
		
		<div class="col-md-6">
			<div class="change-collection-name">
				<h5>Change collection name: </h5>
				<input class="input-on-white" ng-model="newCollectionName">
			</div>
		</div>

		<div class="col-md-12" ng-show="recipes.length < 1">
			<div class="help-note button-on-white">
				<p>It appears you don't have any recipes yet!</p>
				<p>Go to the <a href="#/home/{{username.userName}}"><u>home</u></a> page to add some recipes using the "Manage Collections" toolbox.</p>

				
			</div>

		</div>
		
		<div class="col-md-12"></div>

 		<div class="col-md-5 single-collection" ng-repeat="recipe in recipes">
 			<div class="row">
 				<div class="col-md-4">
		 			<h5><a href="/#/recipe/{{recipe._id}}"> {{recipe.recipeName}}</a></h5>
		 			<p>{{recipe.author}}</p>
		 		</div>

		 		<div class="col-md-4">
		 			<div class="checkbox" ng-show="checkPermissions()">
						<label>
			 				<input class="overide-input"  type="checkbox" ng-model="addornot" ng-true-value="spliceValue" ng-false-value="dontDelete" ng-change="checkCollection(addornot, recipe._id)" ng-checked="collection.recipes.indexOf(recipe._id) === -1">
			 			Remove?</label>
		 			</div>
		 		</div>
 			<p><img ng-show="recipeImageShow(recipe.recipeImage)" src='{{recipe.recipeImage}}'></img><p>

 		</div>
			
<!--  		<div class='col-md-5 collection-recipe' ng-repeat="recipe in recipes">

 			<a href="/#/recipe/{{recipe._id}}"> {{recipe.recipeName}}  - {{recipe.author}}</a>
 			<img ng-show="recipeImageShow(recipe.recipeImage)" class='center-block' src='{{recipe.recipeImage}}'></img>
 			<div class="checkbox" ng-show="checkPermissions()">
				<label>
	 				<input class="overide-input"  type="checkbox" ng-model="addornot" ng-true-value="spliceValue" ng-false-value="dontDelete" ng-change="checkCollection(addornot, recipe._id)" ng-checked="collection.recipes.indexOf(recipe._id) === -1">
	 			Remove?</label>
 			</div>
 		</div> -->


	</div>
	


</div>