<div class="viewer container">



	<div class="col-md-12">
		<h2>{{collection.collectionName}}</h2>
		<h4>List of recipes</h4>
		
		
		
	</div>
	<div class="row" ng-repeat="recipe in recipes">
		<!-- TODO: Write ng-show for collectionPermissions and change collection permissions to the userid -->
		<div class="col-md-12">
			<div class="checkbox">
				<label ng-show="checkPermissions()">
		 			<input class="overide-input"  type="checkbox" ng-model="addornot" ng-true-value="spliceValue" ng-false-value="dontDelete" ng-change="checkCollection(addornot, recipe._id)" ng-checked="collection.recipes.indexOf(recipe._id) === -1"/>
		 		Remove?</label>
		 		<a class="collection-divider" href="/#/recipe/{{recipe._id}}"> {{recipe.recipeName}}  - {{recipe.author}}</a>
		 	</div>
		 	
		</div>

	</div>

	<button class="cook-button" ng-show="checkPermissions()" ng-click="updateCollection()">Save Changes</button>

	<button ng-click="verifyDelete()" ng-show="checkPermissions()">Delete Collection</button>

	<div ng-show="verify">
		Are you sure you want to delete this collection?
		<button ng-click="verifyDelete()">No</button>
		<button ng-click="deleteCollection()">Yes</button>
	</div>
	
	



</div>