<div class="viewer container">

		
		<div class="row collection-view">
			
			<div class="col-md-4">
				<h2>{{user.userName}}'s Collections</h2>
				

				<h4>Create New Collection</h4>
				
					<form name="createCollectionForm" novalidate>
						<input class="input-on-white" ng-model="collectionName" required/>
					    <button ng-disabled="createCollectionForm.$invalid" class="cook-button" ng-click="createCollection()">Create</button>
					</form>
			</div>


			<div class="collection-repeat col-md-8" ng-repeat="collection in collections">
				<h4><a href="#/collection/{{collection._id}}/{{collection.collectionName}}"><p>Name: {{collection.collectionName}}</p></a></h4>
				<h5>Creator: {{collection.collectionCreator}}</5>
			
			</div>



</div>