<div class="container viewer">
	<div class="col-md-12 add-recipe-view">
		<h2>Edit Recipe</h2>
		<button class="button-on-white" ng-disabled="editRecipeForm.$invalid" ng-click="editRecipe()">Save Changes</button>

		<form name="editRecipeForm" class='form-inline' novalidate>
			           
				
		<!-- Checkboxes for choosing location of the recipe -->
	    <p class="radio col-md-12">
            <label>
		        <input class="overide-input" type="radio" ng-model="recipe.location" value="Personal" required>Personal
		    </label>
        </p> 

        <p class="radio col-md-12">
            <label>
                <input class="overide-input" type="radio" ng-model="recipe.location" value="Website">Website
		    </label>
        </p>

        <p class="radio col-md-12">
            <label>
                <input class="overide-input" type="radio" ng-model="recipe.location" value="Book">Book
		    </label>
	    </p>

		 <!-- HIDDEN DIVS DEPENDING ON RADIO OPTION -->
	    <!-- WEBSITE HIDDEN DIV -->
    <div class="col-md-12">
	    
	    <div class="col-md-12" ng-show="recipe.location === 'Website'" >
	    	<input type="url" placeholder='Url' name="url" ng-model="recipe.recipeUrl" ng-required="websiteRequired" >
	    </div>
	    <p class="help-text" ng-show="websiteRequired">Don't forget complete url!</p>

	    <!-- BOOK HIDDEN DIV -->
	    <div class="col-md-12" ng-show="recipe.location==='Book'">
	    	<input placeholder='Book Title' ng-required='bookRequired' ng-model='recipe.bookTitle'>
	    	<input class="page-num-input" placeholder='Page#' ng-required='bookRequired' ng-model='recipe.bookPageNumber'>
	    </div>
				   
		<!-- Author/Recipe/Name -->
	    <div class='form-group col-md-12'>
	    	<input ng-model="recipe.author" placeholder="Recipe Author" required/>
	    </div>

	    <div class='form-group col-md-12'>
	    	<input ng-model="recipe.recipeName" placeholder="Recipe Name" required/>
	    	
	    </div>

	</div>


		
	    
	<!-- Titles -->
	<div class='col-md-12'> Quantity Measurement Ingredient </div>
	<div class="row">
		<!-- Ingredients -->
		<div class="col-md-8">
			<h3>Ingredients</h3>
		    <div ng-repeat="ingredient in recipe.ingredients" class="form-group">
		        <input class='qty-input' placeholder="#" class="num-ing" ng-model="recipe.ingredients[$index].qty"/>
		   
		        <input placeholder="Cup, Tblspn, etc" class="meas-input" ng-model='recipe.ingredients[$index].meas'/>
		 
		        <input placeholder='Ingredient' class="ing-name" ng-model='recipe.ingredients[$index].ing'/>
		        <a><i ng-click="removeIngredient(recipe.ingredients[$index])" class="fa fa-times"></i></a>
		    </div>
		    <div>
				<button ng-click="addIngredient()"><i class="fa fa-plus"></i> Ingredient</button>
		    </div>
    	</div>
    

			<!-- Instructions -->
			<div class="col-md-4" ng-show="recipe.location === 'Personal'">
				<h3>Instructions</h3>
			    <div ng-repeat="instruction in recipe.instructions" class="form-group">
			    	<input ng-model='recipe.instructions[$index].step'/>
			    	<a><i ng-click="removeStep(recipe.instructions[$index])" class="fa fa-times"></i></a>
			    </div>
			    <div>
			    	 <button ng-click="addStep()"><i class="fa fa-plus"></i> Step</button>
			    </div>
			</div>
		</div>

		<div class="col-md-12">
			
		  	
		  </div>
		</form>
	</div>
</div>