<div class="viewer container">

	<h3 class="custom-htag">{{user.userName}}'s Favorites</h3>
	
			<div class="col-md-12" ng-show="recipes.length < 1">
				<div class="help-note">
					<h3><u>Favorites</u></h3>

					<p>Add recipes to your favorites page by clicking the yellow star on the recipe you want to add.</p>
					
					<h4>This . . . </h4>
					<img src="../images/favRecipe1.png">
					<br></br>
					<h4>Becomes this!</h4>
					<p><small>(hint: look at the star!)</small></p>
					<img src="../images/favRecipe2.png">

				</div>

			</div>

	<div class="col-md-5 recipe" ng-repeat='recipe in recipes'>
		<div class="row">



			<div class="col-md-4">
				<a href="/#/recipe/{{recipe._id}}"><p>{{recipe.recipeName}}  - {{recipe.author}} </p></a>

				<a ng-show="checkPermissions(recipe.permissionsTag)" href="/#/editRecipe/{{user._id}}/{{recipe._id}}"><i class="fa fa-pencil fa-lg"></i><span class="iconPipe"> | </span></a>
				<!-- remove from favorite -->

				
				<i ng-click="unfavorite(recipe._id)" class="fa fa-star fa-lg"></i>

				<br>
				<img ng-show="recipeImageShow(recipe.recipeImage)" src='{{recipe.recipeImage}}'/>
			</div>
				  
				
				
				<!-- I don't think you need to delete recipes 
				when it is a favorite -->
				<!-- <p><a ng-show="checkPermissions(recipe.permissionsTag)" ng-click='removeRecipe(recipe._id)'>Delete Recipe</a></p> -->

			<div class="col-md-8 recipe-border">
				<p class='ingredients'>Ingredients</p>
				<p ng-repeat='ingredient in recipe.ingredients'>  {{ingredient.qty}} {{ingredient.meas}}  {{ingredient.ing}}</p>
			</div>
		</div>		
		
	</div>


</div>