<div class="viewer container">
	
	<a draggable="true" href="javascript:(function(){localStorage.setItem('local',JSON.stringify('{{user._id}}'));document.body.appendChild(document.createElement('script')).src='http://localhost:3000/recipeBookmarklet.js';})();">{{user.userName}}'s Bookmarklet</a>

	<!-- The other way it could go is to have one input box and just ng-repeat to display each added ingredient
	but I think the current way is more intuitive -->
	

	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-md-12">
				<h1>{{user.userName}}'s Recipes</h1>
				
				<div ng-show="recipeSpinner">
					<i class="fa fa-spinner fa-2x fa-spin"></i>
					<h5>Loading your recipes</h5>
				</div>
				
				<div class="col-md-12">
					<h4>Collections</h4>
					<select ng-options="collection.collectionName for collection in collections" ng-model="selectedCollection"></select>
					<button ng-click="updateCollection()">Save Collection</button>
					<!-- {{selectedCollection}} -->

				</div>
				


				<div class="col-md-5 recipe" ng-repeat='recipe in recipes'>
					<!-- <div class="container"> -->
						<div class="row">
							<div class="col-md-4">
								<!-- Displays Hyperlink to Individual Recipe View -->
								<a href="/#/recipe/{{recipe._id}}"> <p> {{recipe.recipeName}}  - {{recipe.author}}</p></a>
								
								<!-- Shows if user can delete -->
								<a  ng-click='removeRecipe(recipe._id)'> <i class="fa fa-trash fa-lg">  </i> <span class="iconPipe"> | </span></a>

								<!-- Shows if not a favorite -->
								<a ng-click="addToFavorites(recipe._id)" ng-show="checkFavorites(recipe._id)">  <i class="fa fa-star-o fa-lg"></i>  </a>
								
								<!-- shows up if a favorite -->
								<a ng-click="unfavorite(recipe._id)" ng-show="checkFavorites2(recipe._id)">  <i class="fa fa-star fa-lg"></i>  </a> 

								<!-- Shows up if can edit -->

								<a ng-show="checkPermissions(recipe.permissionsTag)" href="/#/editRecipe/{{user._id}}/{{recipe._id}}"> <span class="iconPipe"> | </span> <i class="fa fa-pencil fa-lg"> </i> </a>

								 <!-- ng-click="pushToCollection(recipe._id)" -->
								<div ng-show="selectedCollection">
									<p>Add To Collection?</p>
								 	<input  class="overide-input" type="checkbox" ng-model="addornot" ng-true-value="pushRecipe" ng-false-value="spliceValue" ng-change="checkCollection(addornot, recipe._id)" ng-checked="selectedCollection.recipes.indexOf(recipe._id) > -1">
								</div>	
							</div>

							<div class="col-md-8">
								<!-- The List of Ingredients -->
								<p class='ingredients'>Ingredients</p>
								<li ng-repeat='ingredient in recipe.ingredients'>  {{ingredient.qty}} {{ingredient.meas}}  {{ingredient.ing}}</li>
							</div>
						</div>  
					<!-- </div>end container -->
				</div>

				</div>	
			</div>
		</div>
	<!-- </div> -->

</div>
    


		
		
	   

	
 
    