<h3><a ng-click="login()" href="/auth/facebook">Login with Facebook</a></h3>


<!-- I want this to only show up if they haven't registered before, else, remove it -->
<form role="form">

	<div class="form-group">
		<label class="sr-only">First Name</label>
		<input type='text' placeholder="First Name"></input>
	</div>
	
	<div class="form-group">
		<label class="sr-only">Last Name</label>
		<input type='text' placeholder="Last Name"></input>
	</div>

	<div class="form-group">
		<label class="sr-only">Username</label>
		<input type='text' placeholder="Username"></input>
	</div>
	
	<div class="form-group">
		<label class="sr-only">Email</label>
		<input type='email' placeholder="Email"></input>
	</div>

	<button>Login with Facebook</button>
</form>