<div class="viewer container">

		<div class="row collection-view">
			<div class="col-md-12">


				<h2>Welcome to Cook's Nook!</h2>

				<p>Becoming a member of our community is simple - just click to login with your Facebook account</p>

				<p>Don't worry, we won't post to your Facebook :) - we find that annoying.</p>

				<p>

				<a ng-click="showLoginSpinner()" href="/auth/facebook"><button class="button-on-white">Login with Facebook</button></a>
				<div ng-show="loginSpinner"><i class="fa fa-spinner fa-2x fa-spin"></i></div>

				</p>
				
				<h4>We’re here to help.</h4>
				
				<p>Have a small amount of tomato paste left?  Its summer time and you just received a ton of squash from a friend, what will you do with it?  Use our site to discover new ideas.</p>

				<br>

				<h4>Our Mission</h4>


				<p>To support the growing movement to prevent food loss.</p>

				<p>To provide a service that allows people to make ingredient connections between recipes to save money by using up leftover ingredients in new dishes.</p>

				<p>To make connections and understand more about how cuisines connect and share similar bonds.</p>

				<p>To help people think about how and where they use ingredients.</p>
			</div>
		</div>

</div>
	
	<!-- I don't really need this, but if I want it, I will do it later -->
	<!-- I want this to only show up if they haven't registered before, else, remove it -->
	<!-- <form role="form">

		<div class="form-group">
			<label class="sr-only">First Name</label>
			<input type='text' placeholder="First Name"></input>
		</div>
		
		<div class="form-group">
			<label class="sr-only">Last Name</label>
			<input type='text' placeholder="Last Name"></input>
		</div>

		<div class="form-group">
			<label class="sr-only">Username</label>
			<input type='text' placeholder="Username"></input>
		</div>
		
		<div class="form-group">
			<label class="sr-only">Email</label>
			<input type='email' placeholder="Email"></input>
		</div>

		<button>Login with Facebook</button>
	</form> -->
