<div class="container viewer">
	<div class="col-md-12 add-recipe">
	<h2>Add A New Recipe</h2> 
	<button ng-disabled="newRecipeForm.$invalid" ng-click="submitRecipe()">Submit New Recipe</button>
	<form name="newRecipeForm" class='form-inline' novalidate>
	<p>{{newRecipe}}</p>        
	
			
	<!-- Checkboxes for choosing location of the recipe -->
	    

	    <p class="radio col-md-12">
	        <label>
		        <input class="overide-input" type="radio" ng-model="newRecipe.location" value="Personal" ng-change="require()" required >Personal
		    </label>
	    </p> 


	    <p class="radio col-md-12">
	        <label>
	            <input class="overide-input" type="radio" ng-model="newRecipe.location" ng-change="require()" value="Website">Website
		    </label>
	    </p>

	    <p class="radio col-md-12">
	        <label>
	            <input class="overide-input" type="radio" ng-model="newRecipe.location" ng-change='require()' value="Book">Book
		    </label>
	    </p>
	    
	    <!-- HIDDEN DIVS DEPENDING ON RADIO OPTION -->
	    <!-- WEBSITE HIDDEN DIV -->
	    <div class="col-md-12">
		    <div class="col-md-12" ng-show="newRecipe.location === 'Website'" >
		    	<input type="url" placeholder='Url' name="url" ng-model="newRecipe.recipeUrl" ng-required="websiteRequired" >
		    </div>
		    <p class="help-text" ng-show="websiteRequired">Don't forget complete url!</p>

		    <!-- BOOK HIDDEN DIV -->
		    <div class="col-md-12" ng-show="newRecipe.location==='Book'">
		    	<input placeholder='Book Title' ng-required='bookRequired' ng-model='newRecipe.bookTitle'>
		    	<input class="page-num-input" placeholder='Page#' ng-required='bookRequired' ng-model='newRecipe.bookPageNumber'>
		    </div>
		
		   
		<!-- Author/Recipe/Name -->
		    <div class='form-group col-md-12'>
		    	<input ng-model="newRecipe.author" placeholder="Recipe Author" required/>
		    </div>

		    <div class='form-group col-md-12'>
		    	<input ng-model="newRecipe.recipeName" placeholder="Recipe Name" required/>
		    </div>
		</div>






		<!-- Titles -->
		<div class='col-md-12'> Quantity Measurement Ingredient </div>

		<div class="row">
		<!-- Ingredients -->
			<div class="col-md-8">
				<h3>Ingredients</h3>
			    <div ng-repeat="ingredient in newRecipe.ingredients" class="form-group col-md-12">
			        <input class="qty-input" placeholder="#" class="num-ing" ng-model="newRecipe.ingredients[$index].qty"/>
			   
			        <input class="meas-input" placeholder="Cup, Tblspn, etc" class="meas-ing" ng-model='newRecipe.ingredients[$index].meas'/>
			 
			        <input placeholder='Ingredient' class="ing-name" ng-model='newRecipe.ingredients[$index].ing'/>
			        <a><i ng-click="removeIngredient(newRecipe.ingredients[$index])" class="fa fa-times"></i></a>
			    </div>
			    <div class="col-md-12">
			    	<button ng-click="addIngredient()"><i class="fa fa-plus"></i> Ingredient</button>
				</div>
			</div>


		    <!-- Instructions -->
		    <div class="col-md-4">
			    <h3>Instructions</h3>
			    <div class="col-md-12" ng-repeat="instruction in newRecipe.instructions" class="form-group col-md-12">
			    	<input ng-model="newRecipe.instructions[$index].step"/>
			    	<a ng-click="removeStep(newRecipe.instructions[$index])" ><i class="fa fa-times"></i></a>
			    </div>
			    <div class='col-md-12'>
			    	 <button ng-click="addStep()"><i class="fa fa-plus"></i> Step</button>
			    </div>
		    <div>
	    </div>
	    
	   
	    
	   
	  

	<div class="col-md-12">
		
		
	</div>
	    
	</form>
</div>
	
</div>
