<form class='form-inline'>
	    {{newRecipe}}        
		<div class='col-md-1'>
		Add A New Recipe
		   
		    
		    <div class='form-group'>
		    	<input ng-model="newRecipe.author" placeholder="Recipe Author"/>
		    </div>

		    <div class='form-group'>
		    	<input ng-model="newRecipe.recipeName" placeholder="Recipe Name"/>
		    </div>

<!-- Checkboxes for choosing location of the recipe -->
		    <div class="radio">
                <label>
			        <input type="radio" ng-model="newRecipe.location" value="Personal" checked>Personal
			    </label>
            </div> 

            <div class="radio">
                <label>
                    <input type="radio" ng-model="newRecipe.location" value="Website">Website
			    </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="newRecipe.location" value="Book">Book
			    </label>
		    </div>

		</div>

	<!-- Titles -->
	<div class='col-md-12'> Quantity Measurement Ingredient </div>

    <div ng-repeat="ingredient in newRecipe.ingredients" class="form-group col-md-12">
        <input placeholder="#" class="num-ing" ng-model="newRecipe.ingredients[$index].qty"/>
   
        <input placeholder="Cup, Tblspn, etc" class="meas-ing" ng-model='newRecipe.ingredients[$index].meas'/>
 
        <input placeholder='Ingredient' class="ing-name" ng-model='newRecipe.ingredients[$index].ing'/>
    </div>
    
   
   

<div class="col-md-12">
     <button ng-click="addIngredient()">Add Ingredient</button>
    <button ng-click="submitRecipe()">Submit New Recipe</button>
</form>