<div class="viewer container">
	<div class="row collection-view">
		
		<div class="col-md-4">
			<h2>Public Recipe Collections</h2>
		</div>
		
		<div class="col-md-8">
			<input class="input-on-white" ng-model="searchText" placeholder="Find a collection">
			<div class="collection-repeat" ng-repeat="collection in collections | filter: searchText">
				<h4><a href='#/PublicCollection/{{collection._id}}/{{collection.collectionName}}'>{{collection.collectionName}}</a></h4>
			</div>
		</div>
		
	</div>
</div>