<div class="viewer container">
	<div class="row collection-view">
		<div class ="col-md-12">
			<h2>{{collection.collectionName}}</h2>
			<br>
		</div>
	
		
		<div ng-show="existsCollection" class="col-md-6 collection-manager-box cmb-on-white">
			<h4>Manage Collections</h4>
			<select ng-options="collection.collectionName for collection in collections" ng-model="selectedCollection"></select>
			<button class="button-on-white" ng-click="updateCollection()">Save Collection</button>
			<!-- {{selectedCollection}} -->

		</div>
		
		<div class="col-md-5 single-collection" ng-repeat="recipe in recipes">
				<a href='#/recipe/{{recipe._id}}'><p>{{recipe.recipeName}}</p>
				<img ng-show="recipeImageShow(recipe.recipeImage)" src='{{recipe.recipeImage}}'/></a>
				<div ng-show="selectedCollection">
					<p>Add To Collection?
				 	<input  class="overide-input" type="checkbox" ng-model="addornot" ng-true-value="pushRecipe" ng-false-value="spliceValue" ng-change="checkCollection(addornot, recipe._id)" ng-checked="selectedCollection.recipes.indexOf(recipe._id) > -1"></p>
				</div>
		</div>	
	
	</div>

</div>

