<div class="viewer container">

	<div class="row single-recipe-view">
			
			<div class="col-md-4">
				
					<a href="{{recipe.recipeUrl}}"><h2>{{recipe.recipeName}}</h2></a>

					
					
				<!-- Shows if user can delete -->
				
				<!-- TODO: I may not need this now -->
					<div ng-show="hasRecipe">

					<a ng-show="canDelete" ng-click='removeRecipe(recipe._id)'> <i class="fa fa-trash fa-lg">  </i> <span class="iconPipe"> | </span></a>

					<!-- Shows if not a favorite -->
					<a ng-click="addToFavorites(recipe._id)" ng-show="checkFavorites(recipe._id)">  <i class="fa fa-star-o fa-lg"></i>  </a>
					
					<!-- shows up if a favorite -->
					<a ng-click="unfavorite(recipe._id)" ng-show="checkFavorites2(recipe._id)">  <i class="fa fa-star fa-lg"></i>  </a> 

					<!-- Shows up if can edit -->

					<a ng-show="checkPermissions(recipe.permissionsTag)" href="/#/editRecipe/{{user._id}}/{{recipe._id}}"> <span class="iconPipe"> | </span> <i class="fa fa-pencil fa-lg"> </i> </a>

					</div>

					<p>Author: {{recipe.author}}</p>
					
					<p ng-show="checkForBook({{recipe.bookPageNumber}})">{{recipe.bookTitle}} : pg.{{recipe.bookPageNumber}}</p>

					<br></br>
					<img ng-show="recipeImageShow(recipe.recipeImage)" src='{{recipe.recipeImage}}'/>
					
					<button class="button-on-white" ng-show='!hasRecipe' ng-click="addRecipe(user._id)">Add This Recipe</button>
					<button ng-show="showNotesButton" class="button-on-white" ng-click="showPublicNotes()">See User Notes</button>
			</div>
		


			
			<div class="col-md-4">
				<h2 class="hide-it">I'm Invisible</h2>
				<p><strong>Ingredients</strong></p>
				<p ng-repeat="ingredient in recipe.ingredients">
					{{ingredient.qty}} {{ingredient.meas}} {{ingredient.ing}}
				</p>
			
			</div>
			



			<div class="col-md-4">
				<h2 class="hide-it">I'm Invisible</h2>
				<p><strong>Instructions</strong></p>
				<div ng-repeat="instruction in recipe.instructions">
					<p ng-bind-html="recipe.instructions[0]"></p>

					{{instruction.step}}
				</div>

				<div ng-show="noteShow()">
					<p><strong>Notes</strong></p>
					<textarea rows="10" cols="40" ng-model="note.note"></textarea>
					<p>Share with others?:<input class="input-checkbox" type="checkbox" ng-false-value="private" ng-true-value="public" ng-model="note.share"></p>
					<button class="button-on-white" ng-click="postNote()">Save</button>
					<div ng-show="recipeSpinner">Saving . . .<i class="fa fa-spinner fa-2x fa-spin"></i></div>

					
				</div>
			</div>

				
				<div ng-show="seePublicNotes" class="col-md-4 public-notes" ng-repeat="publicnote in notes">
					
					<p><u><strong>{{publicnote.author}}</strong> - {{publicnote.noteDate | date: medium}}</u></p>

					<p>{{publicnote.note}}</p>
				</div>


	</div>


</div>
