<div class="viewer container">
	<div class="row collection-view">
		<h2>Profile: {{user.userName}}</h2>
		<div class="col-md-6">
			<p>Member Since: {{user.accountCreated | date: "longDate"}}
			<p>Total Recipes: {{user.recipes.length}}</p>
			<p>Total Collections: {{user.collections.length}}</p>
		</div>
		
		<div class="col-md-6">
			<h4>Your Collections</h4>

			<div ng-repeat="collection in collections">
				
				<p><a href="/#/collection/{{collection._id}}/{{collection.collectionName}}">{{collection.collectionName}}</a> - {{collection.collectionCreator}}</p>
				<ul>
					<li>Contains {{collection.recipes.length}} Recipes </li>
				</ul>
				
			</div>
		</div>
		<div class="col-md-12">
			<h4>Edit Username</h4>
			<input class="input-on-white" ng-model="user.userName">
			<button ng-click="saveUser()" class="button-on-white">Save</button>
			<p ng-show="saveSpinner">Saving . . .<i class="fa fa-spinner fa-1x fa-spin"></i></p>
		</div>
		<div>
			Find and add friends.
			<input class="input-on-white" ng-model="friendSearchTerm">
			<button ng-click="searchFriend()" class="button-on-white">Find</button>
			<p ng-show="friendSpinner">Searching users . . . <i class="fa fa-spinner fa-1x fa-spin"></i><p>
			<div ng-repeat="peep in people">
				{{peep.userName}}
			</div>
		</div>
	</div>
</div>