body {
	font-family: 'Vollkorn', Georgia, serif;
	background-color:white;
	color:black;

}


@media screen and (min-device-width : 320px) and (max-device-width : 767px) {
	body {
		font-size: 1.5rem;
	}

	.recipe {
		height: 20rem;
	}
	.searchbar {
		display: none;

	}
	.searchbar2 {
		display: block !important;

	}
	.login-margin {
		margin-bottom:1rem;
	}



}
/*MAIN BUTTONS*/
button {
	background-image: none;
	width:14rem;
	/*margin-left:1rem;*/
	/*the margin left affects in some places . . .*/
	padding:6px;
	background-color:white;
	border-style:none;
	border: 1px solid #428bca;
	box-shadow: 2px 5px 9px -2px rgba(0, 0, 0, .5);
    
    margin-right: -3px;
    
    border-radius: 8px;
 
}



button:disabled {
	background-color: rgba(0, 0, 0, .78));
}

button:focus {
	outline: 0;
}
button:active {
	box-shadow:none;
}

.button-on-white {
	border: 1px solid rgba(0, 0, 0, .25);
	margin: 2rem 0;	
}

select {
	font-size:2rem;

}

a {
	color:#1916A9;
	text-decoration: none;
}
a:link{
	color: #1916A9;
}

a:hover {
	color:#F28C00;
	cursor: pointer;
}



h1, h2, h3, h4, h5, h6 {
	color: rgba(0, 0, 0, .78);
}

input {
	padding: .8rem;
	width: 30rem;
	margin: 1rem 0 1rem 0;
	box-shadow: 2px 5px 9px -2px rgba(0, 0, 0, .5);
	border-radius: 10px;
	border-style: hidden;

}
input:focus {
	outline: 0;
}

.input-on-white {
	border-style: solid;
	border-color: rgba(0,0,0,.2);
}

.input-checkbox {
	border-style: none;
	box-shadow: none;
	width: 4rem;

}

.ngview-margin {
	margin-left: -1.4rem;
}

.heading-margin {
	/*margin-top: 4rem;*/
}

.login-margin {
	margin-top:1rem;
	/*margin-bottom: -2rem;*/
}

.searchbar2 {
	display: none;
	margin-bottom: 1rem;
}

.b {

	background-image: none;
	width:14rem;
	
	background-color:white;
	border-style:none;
	border: 1px solid #428bca;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
    
    margin-right: 3px;
    margin-left:0px;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.b:focus{
	outline: 0;
}

.selected-tab {
	background-color: rgba(0,0,0,.33);
	background-color: #428bca;
	color: white;

}

/*BORDER ALONG TOP*/
.top-border {
	height: 3rem;
	background-color: rgba(0,0,0,.78);
	padding-left: 0;
	/*background-color:#0A5A9C;*/
}
.top-border img {
	height:12rem;
}

/*RECIPE INPUTS FOR ADD AND EDIT RECIPE*/
.qty-input {
	width:4rem;
}

.meas-input {
	width:20rem;
}

.page-num-input {
	width:7rem;
}
/*This is for Radio Buttons and Checkboxes*/
.overide-input {
	width:2rem;
	box-shadow: none;
}

/*this is on the search page*/
.filter-input {
	margin: 0rem;
}

.searchbar {
	margin-left: -1.4rem;
}
/*Every view has a div defined by this- I may not need max-height . . .*/
.viewer {
	border: 2px solid black;
	/*/min-height:500px;*/
	max-height:2000px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color: white;
	background-color:rgba(179, 182, 148, .45);
	background-color:rgba(0,0,0,.78);
	border-style:1px solid black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color:#428bca;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
	color:rgba(0, 0, 0, .78);
	background-color: #428CCA;
/*	background-color: #0A5A9C;
	background-color: #FFC16C;*/
}
.viewer  a {
	text-decoration: none;
}

.custom-htag {
	color:#1916A9;
	
	background-color: white;
	box-shadow: 2px -2px 5px 0px rgb(10,10,10);
	padding: 2rem 4rem;
	margin: 4rem;
	border-radius:1rem;
}


.collection-manager-box {
	color:#1916A9;
	width: 46rem;
	background-color: white;
	box-shadow: 2px -2px 5px 0px rgb(10,10,10);
	padding: 1rem 2rem;
	margin: 4rem;
	border-radius:1rem;
}

.cmb-on-white {
	background-color: #428CCA;
}

.change-collection-name {
	margin-top: 4rem;
}
/*For Each Recipe in HOME and Search*/
.recipe {
	height: 35rem;
	
	min-width:200px;
	margin:2rem 5rem 2rem 4rem;

	border:1px solid black;

	color:black;
	background-color: white;
	overflow:scroll;
	padding: 1.5rem 1rem
}
.recipe img {
	height:9rem;
}
.recipe-border {
	border-left:1px solid rgba(0,0,0,.25);
	min-height: 200px;
}

/*This is for individual recipe page*/
.single-recipe-view {
	margin: 3rem;
	height:50rem;
	background-color: white;
	border: 1px solid black;
	overflow: scroll;
}
.single-recipe-view img {
	height: 20rem;
}

.search-view {

	padding: 2rem;
	margin: 3rem;

	max-height:200rem;

	overflow: scroll;
}

.search-nav{
	padding:2rem;
	margin-left: -2rem;
	margin-right: 5rem;
	background-color: white;
	border: 1px double black;
	border-radius: 5px;
}

.search-nav button {
	border-color: rgba(0, 0, 0, .2);
	width:20rem;
}

.search-nav input {
	border-style: solid;
	border-color: rgba(0,0,0,.2);
}

.search-recipe {
	height: 300px;
	min-width:200px;
	margin:2rem;
	margin-left: 4rem;
	margin-right: 4rem;
	border:1px solid black;
	border-radius:5px;
	color:black;
	background-color: white;
	overflow: scroll;
	padding-top: 1rem;
}

.search-recipe img {
	height:9rem;
}

.home-view {
	padding: 1rem;
	margin: 2rem;
	background-color: white;
}
/*On Collections views you don't want them to just look like a list */

.collection-repeat {
	border: 1px solid black;
	padding: 1rem;
	margin: 2rem 0;
	border-radius: 5px;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
}

.collection-view {
	padding: 2rem;
	margin: 3.3rem 2rem;
	background-color: white;

}

.collection-recipe {
	border: 1px solid black;
	margin: 4rem 0 1rem 4rem;
	height: 20rem;
	padding: 1rem;
	width: 30rem;
	border-radius: 5px;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
}

.collection-recipe img {
	text-align: center;
	height: 14rem;
	border: 1px solid rgba(0, 0, 0, .26);
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
	margin-left:auto;
	margin-right:auto;
	border-radius: 5px;
}

.single-collection {
	border-top: 1px solid black;
	margin: 2rem;
	height: 25rem;
	overflow:scroll;


}

.single-collection img {
	width:15rem;

}

/*Controls Ingredient head format in .recipe box*/
.ingredients {
	padding-top:1rem;
}


/*Font Awesome Icon Manipulations*/
.iconPipe {
	color:black;
	font-size: 1.2rem;
	margin-right: .5rem;
	margin-left: .5rem;
}
.fa:hover{
	cursor:pointer;
}
.fa-star-o {
	color: #FFC921;
}

.fa-star {
	color: #FFC921;
}
.fa-ban {
	color:rgb(200,200,200);
}
.fa-trash {
	color:rgb(168, 1, 1);
}
.fa-pencil {
	color: rgb(100,100,100);
}
.fa-plus {
	margin-right: 1rem;
}

/*Single Recipe View*/

.hide-it {
	visibility: hidden;
}

/*add-recipe view*/
.add-recipe-view {
	padding: 1rem;
	margin: 2rem 1rem;
	/*background-color: #FFC16C;
	background-color: #428CCA;*/
	background-color:white;
}

.add-recipe-view input {
	border-style: solid;
	border-color: rgba(0,0,0,.2);
}

.instruction-input {
	width:29rem;
}



.bookmarklet {
	background-color:#FFE69A;
}

.bookmark-help-image {
	height:28rem;
	border: 1px solid black;
}

.bookmark-help-image2 {
	height:14.8rem;
	border: 1px solid black;
}

/*NOTES*/
.public-notes {
	height: 23rem;
	padding: 1rem;
	border: 2px solid #0A5A9C;
	margin: 1rem 3rem;
	color: #0A5A9C;
	overflow: scroll;
}

/*For when users come to the pages and they don't have anything on them*/
.help-note {
	font-size: 2rem;
	background-color: white;
	box-shadow: 2px -2px 5px 0px rgb(10,10,10);
	padding: 2rem 4rem;
	margin: 4rem;
	border-radius:1rem;
}

.contact-page {
	font-size: 1.8rem;

}


.profile-view {
	font-size: 1.5rem;
}