body {
	font-family: 'Vollkorn', Georgia, serif;
	
	background-color: #00899B;
	background-color:rgba(179, 182, 148, .45);
	background-color:white;
	
	color:black;
	/*color:#4c2221;*/
}
/*MAIN BUTTONS*/

input {
	padding:5px;
	width: 30rem;
	margin:1rem 0 1rem 0;
}
/*The NavBar called search bar not to interfere- don't really search here*/
.searchbar {
	
}


.b {
	/*padding:1rem;*/
	background-image: none;
	width:10rem;
	/*height:50px;*/
	background-color:white;
	border-style:none;
	border: 1px solid #428bca;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
    
    margin-right: -3px;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.b:focus{
	outline: 0;
}
.b a {
	text-decoration: none;
}

/*BORDER ALONG TOP*/
.top-border {
	height:12rem;
	background-color:rgba(0,0,0,.78);
	padding-left:0;
}
.top-border img {
	height:12rem;
}

/*RECIPE INPUTS FOR ADD AND EDIT RECIPE*/
.qty-input {
	width:4rem;
}

.meas-input {
	width:20rem;
}

.page-num-input {
	width:7rem;
}
/*This is for Radio Buttons*/
.overide-input {
	width:2rem;
}

/*Every view has a div defined by this- I may not need max-height . . .*/
.viewer {
	border: 2px solid black;
	min-height:500px;
	max-height:2000px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color: white;
	background-color:rgba(179, 182, 148, .45);
	background-color:rgba(0,0,0,.78);
	border-style:1px solid black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color:#428bca;
	box-shadow: 2px -2px 5px 0px rgb(180,180,180);
}
.viewer  a {
	text-decoration: none;
}


/*For Each Recipe in HOME and Search*/
.recipe{
	height: 300px;
	min-width:200px;
	margin:10px;
	border:1px solid black;
	color:black;
	background-color: white;
	overflow:scroll;
	padding-top: 1rem;
}

/*Controls Ingredient head format in .recipe box*/
.ingredients {
	padding-top:1rem;
}


/*Font Awesome Icon Manipulations*/
.iconPipe {
	color:black;
	font-size: 1.2rem;
	margin-right: .5rem;
	margin-left: .5rem;
}
.fa:hover{
	cursor:pointer;
}
.fa-star-o {
	color: rgb(200, 200, 84);
}

.fa-star {
	color: rgb(200, 200, 84);
}
.fa-ban {
	color:rgb(200,200,200);
}
.fa-trash {
	color:rgb(168, 1, 1);
}
.fa-pencil {
	color: rgb(100,100,100);
}

/*Single Recipe View*/

.hide-it {
	visibility: hidden;
}

/*add-recipe view*/
.add-recipe {
	/*color: white;*/
}


